html, body {
    height: 100%;
}

.container-fluid{
    height: 100%;
    overflow-y: hidden;
    display:flex;
    flex-direction: column;
}

.row {
    height: 100vh;
    display: flex;
}

.left-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}